In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
import os
import binascii

This is an example of basic data manipulation in pandas

In [15]:
### This code was used to generate the flag ###


_flag = np.random.randint(0, 9, size=16)
flag = 'flag-'+ ''.join(str(i) for i in _flag.tolist())
print(flag)
data = []
for pos,value in enumerate(_flag):
     print(pos,value)
     _pos = [f'{pos}']*100
     _f = np.random.normal(value,1,size=10000)
     _data = zip(_pos, _f)
     data += list(_data)
df = pd.DataFrame({'position': [d[0] for d in data], 'value': [d[1] for d in data]})
df.to_csv('flag.csv', index=False)

flag-2584030340853267
0 2
1 5
2 8
3 4
4 0
5 3
6 0
7 3
8 4
9 0
10 8
11 5
12 3
13 2
14 6
15 7

In [5]:
df = pd.read_csv('flag0.csv')
df.head()

   position     value
0         0  6.067265
1         0  4.949604
2         0  5.443693
3         0  2.910647
4         0  3.664680

In [6]:
df.dtypes

position      int64
value       float64
dtype: object

In [7]:
aggregated = df.groupby('position').agg({'value': 'mean'})
aggregated.head()

             value
position
0         5.119730
1         4.059212
2         4.095074
3         3.960929
4         5.961943

In [8]:
transformed = aggregated.value.apply(lambda x: int(round(x)) if x > 0 else 0 )
transformed

position
0     5
1     4
2     4
3     4
4     6
5     7
6     1
7     7
8     0
9     6
10    8
11    8
12    2
13    3
14    2
15    5
Name: value, dtype: int64

In [9]:
transformed = transformed.reset_index()
transformed['position'] = transformed.position.astype('int')
transformed.sort_values('position')

    position  value
0          0      5
1          1      4
2          2      4
3          3      4
4          4      6
5          5      7
6          6      1
7          7      7
8          8      0
9          9      6
10        10      8
11        11      8
12        12      2
13        13      3
14        14      2
15        15      5

In [10]:
'flag-'+''.join([str(i) for i in transformed.sort_values('position').value.tolist()])

'flag-5444671706882325'